<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.enst.friendshipismagic">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <application android:label="Le jeu">

        <activity
            android:name=".app.activities.MainActivity"
            android:label="Le jeu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>

